@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-dark: #1a1a1a;
  --color-light: #f0f0f0;
  --color-light-100: #e0e0e0;
  --color-light-200: #d0d0d0;
  --font-size-base: clamp(14px, calc(12px + 0.5vw), 18px);
  --width-aside: 100dvw;
}

body {
  color: var(--color-dark);
  font-family: Raleway, sans-serif;
  font-size: var(--font-size-base);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

svg {
  height: 1.2em;
  width: 1.2em;
}

header {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-weight: 400;
  padding: 0.8em;
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: 1.5rem;
  position: sticky;
}

header svg {
  stroke: var(--color-light);
}

#menu-btn {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.rotated-180 {
  transform: rotate(-180deg);
}

main {
  flex: 1;
  background-color: var(--color-light);
  height: 100%;
  position: relative;
  display: flex;
}

section {
  padding: 2em;
  flex: 1;
}

nav {
  background: var(--color-light-100);
  font-size: 1rem;
  font-weight: 500;
  padding: 1.25em;
  position: absolute;
  top: 0;
  right: -100dvw;
  width: 100dvw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: right 0.3s ease;
  z-index: 99;
}

.nav-visible {
  right: 0;
}

nav h2 {
  font-size: 1.25em;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

nav button {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.8em;
  padding: 0.6em;
  border-radius: 0.2em;
  cursor: pointer;
}

nav button:hover {
  background-color: var(--color-light-200);
}

nav svg {
  stroke: var(--color-dark);
}

@media only screen and (min-width: 421px) {
  nav {
    padding: 1.5em;
    width: max-content;
    min-width: 17.5em;
    max-width: 22.5em;
  }
}

@media only screen and (min-width: 769px) {
  header {
    font-size: 1.75rem;
    padding: 1em;
    position: relative;
  }

  #menu-btn {
    display: none;
  }
}
