@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-dark: #1a1a1a;
  --color-light: #f0f0f0;
  --font-size-base: clamp(14px, calc(12px + 0.5vw), 18px);
}

body {
  color: var(--color-dark);
  font-family: Raleway, sans-serif;
  font-size: var(--font-size-base);
}

header {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-weight: 400;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-size: 1.5rem;
}

header svg {
  height: 1.2em;
  width: 1.2em;
  stroke: var(--color-light);
}

#menu-btn {
  margin-left: auto;
}

aside {
  background-color: gray;
  width: 30%;
}

@media only screen and (min-width: 768px) {
  header {
    font-size: 1.75rem;
  }

  #menu-btn {
    display: none;
  }
}
